apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: innowise
spec:
  selector:
    app: kafka
  ports:
    - port: 9092
      targetPort: 9092
      name: kafka
    - port: 9093
      targetPort: 9093
      name: controller
  clusterIP: None
  type: ClusterIP
