apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: innowise
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
        - name: api-gateway
          image: api-gateway:1.0.0
          imagePullPolicy: Never
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: 200m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 6
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          env:
            - name: CORS_ALLOWED_ORIGINS
              value: "http://local"
      initContainers:
        - name: wait-for-authentication
          image: curlimages/curl:8.6.0
          command:
            [
              "sh",
              "-c",
              "until curl -f http://authentication-service:8080/actuator/health/readiness > /dev/null 2>&1; do echo waiting for authentication-service to be ready; sleep 2; done;",
            ]
        - name: wait-for-image-service
          image: curlimages/curl:8.6.0
          command:
            [
              "sh",
              "-c",
              "until curl -f http://image-service:8080/actuator/health/readiness > /dev/null 2>&1; do echo waiting for image-service to be ready; sleep 2; done;",
            ]
