apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-ui
  namespace: innowise
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka-ui
  template:
    metadata:
      labels:
        app: kafka-ui
    spec:
      containers:
        - name: kafka-ui
          image: provectuslabs/kafka-ui:v0.7.2
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 256Mi
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3
          env:
            - name: KAFKA_CLUSTERS_0_NAME
              value: "local"
            - name: KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS
              value: "kafka:9092"
      initContainers:
        - name: wait-for-kafka
          image: confluentinc/cp-kafka:7.8.0
          command:
            [
              "sh",
              "-c",
              'until kafka-broker-api-versions --bootstrap-server kafka:9092 --command-config /dev/null 2>&1 | grep -q "kafka:9092"; do echo waiting for kafka to be ready; sleep 2; done;',
            ]
