apiVersion: apps/v1
kind: Deployment
metadata:
  name: react-frontend
  namespace: innowise
spec:
  replicas: 1
  selector:
    matchLabels:
      app: react-frontend
  template:
    metadata:
      labels:
        app: react-frontend
    spec:
      containers:
        - name: react-frontend
          image: react-frontend:1.0.0
          imagePullPolicy: Never
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 256Mi
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3
      initContainers:
        - name: wait-for-api-gateway
          image: curlimages/curl:8.6.0
          command:
            [
              "sh",
              "-c",
              "until curl -f http://api-gateway:8080/actuator/health/readiness > /dev/null 2>&1; do echo waiting for api-gateway to be ready; sleep 2; done;",
            ]

